<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/confirmOTP.css">
    <title>BlackJack</title>
    
</head>
<body>
    <h1 class="title">Please Confirm OTP</h1>
    <p>Email sent to: <span id="email"></span></p>

    <form method="POST" action="/confirmOTP" class="form-container">
      <label for="otp" class="form-label">Enter OTP:</label>
      <input type="text" id="otp" name="otp" required class="form-input">

      <button type="submit" class="form-submit">Submit</button>
    </form>

    <script src="../javascript/confirmOTP.js"></script>
</body>
</html>