<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/register.css">
    <title>BlackJack App</title>
</head>
<body>
    <section class="form-container">
        <h1>Register</h1>
        <form autocomplete="off" action="/register" method="post">
    
            <section class="form-group">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-input" required>
            </section>
            
            <section class="form-group">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" id="email" name="email" class="form-input" required>
            </section>
            
            <section class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-input" required>
            </section>
            
            <section class="form-group">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-input" required>
            </section>
            
            <button type="submit" class="form-button">Register</button>
        </form>
        
        <a href="/views/login.html">Login</a>
    </section>
</body>
</html>