body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  
  /* Ensures the background doesn't exceed the viewport */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: -100%;
  /* Initial position outside the viewport */
  width: 200%;
  /* Double the width to cover the full viewport during movement */
  height: 100%;
  z-index: -1;
  background-image: url("../images/background/background.png");
  background-color: #000000;
  background-size: contain;
  background-repeat: repeat-x;
  /* Repeating the image horizontally */
  animation: moveBackground 20s infinite linear;
}

@keyframes moveBackground {
  0% {
    left: -100%;
    /* Start position */
  }

  50% {
    left: 0;
    /* Middle position, background fully visible */
  }

  100% {
    left: -100%;
    /* Return to the start position */
  }
}

p {
  font-size: 20px;
  margin-bottom: 10px;
}

#command {
  font-family: 'Vujahday Script', cursive;
  font-weight: 300;
  font-size: 1.5rem;
  word-spacing: 1rem;
  animation: blinker 2s step-start infinite;
}

#results {
  font-family: 'Vujahday Script', cursive;
  font-weight: 300;
  font-size: 1.5rem;
  word-spacing: 1rem;
  animation: blinker 2s step-start infinite;
  background: rgb(232,224,117);
  background: linear-gradient(0deg, rgba(232,224,117,1) 0%, rgba(1,1,1,1) 15%);
}

@keyframes blinker {
  25% {
    opacity: 0;
  }
}

.title {
  background: rgb(232, 224, 117);
  background: transparent;
  color: gold;
  font-family: 'Pushster', cursive;
  padding: .3rem;
  font-size: 1.5rem;
  word-spacing: 2rem;
  letter-spacing: .3rem;
}

.action-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.game-area{
  display: flex;
    justify-content: space-between;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 1rem;
}

span {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateContainer 10s infinite linear;
  transform-origin: center;
  transform-style: preserve-3d;
}

@keyframes rotateContainer {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(1turn);
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.animate {
  animation: pulse 1s infinite;
}

#dealer-cards img,
#hidden img,
#your-cards img {
  height: 100px;
  width: 80px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}

#dealer-cards #hidden {
  height: 100px;
  width: 40px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}

#hit,
#stay,
#placebet,
#deal,#new-game,#exit-game {
  width: 120px;
  height: 40px;
  background-color: #007a99;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: 'Lobster', cursive;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  margin: 1.5rem;
}

#new-game {
  width: 200px;
  height: 30px;
  background-color: #007a99;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: .9rem;
  font-weight: 700;
  font-family: 'Lobster', cursive;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  margin: 1.5rem;
}

#hit:hover,
#stay:hover {
  background-color: #005f73;
}

#new-game:hover {
  background-color: #45a049;
}

.chip {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.chip:hover {
  background-color: #005f73;
}

.chip::after {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 3px;
}

.card-container {
  position: relative;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card-container .card {
  height: 200px;
  width: 140px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: transform 0.5s;
}

.card-container.stay .card {
  transform: rotateY(180deg);
  opacity: 0;
}

.card-container.stay .card:nth-child(odd) {
  transition-delay: 0s;
}

.card-container.stay .card:nth-child(even) {
  transition-delay: 0.1s;
}

#results {
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s;
}

.card-container.stay~#results {
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.overlay img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  transform-origin: bottom center;
}

.card-0 {
  transform: rotate(-10deg);
}

.card-1 {
  transform: rotate(-5deg);
}

.card-2 {
  transform: rotate(0deg);
}

.card-3 {
  transform: rotate(5deg);
}

.card-4 {
  transform: rotate(10deg);
}

.bet-info {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: transparent;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid #00f7ff;
  animation: neon 1s infinite alternate;
}

@keyframes neon {
  from {
    box-shadow: 0 0 5px #00f7ff, 0 0 10px #00f7ff, 0 0 15px #00f7ff, 0 0 20px #00f7ff;
  }

  to {
    box-shadow: 0 0 10px #00f7ff, 0 0 20px #00f7ff, 0 0 30px #00f7ff, 0 0 40px #00f7ff;
  }
}

details {
  margin: 10px;
}

summary {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: #00f7ff;
}

.bet-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bet-btn:hover {
  background-color: #45a049;
}

.game-outcome{
  background: rgb(232,224,117);
  background: linear-gradient(0deg, rgba(232,224,117,1) 0%, rgba(1,1,1,1) 15%);
}
