/* Reset default margins and paddings */
body, h1, h2, p, ol, ul, button {
  margin: 0;
  padding: 0;
}

/* Set a background image */
body {
  background-image: url("../images/background/background2.jpg");
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; /* This sets the body height to the viewport height */
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 48px;
  color: black;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  margin-top: 20px;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
}

/* Section styles */
section {
  margin-bottom: 60px;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  margin-bottom: 30px;
}

ol, ul {
  font-size: 24px;
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}

ol li {
  margin-bottom: 10px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Button styles */
.login-button {
  display: inline-block;
  padding: 15px 40px;
  background-color: #ffcc00;
  color: #000;
  font-size: 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  animation: float 2s ease-in-out infinite;
}

.login-button:hover {
  background-color: #fff;
  color: #000;
}

@keyframes float {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

/* Footer styles */
footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 600px) {
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
  
  p, ol, ul {
    font-size: 16px;
  }
  
  .play-button {
    padding: 10px 30px;
    font-size: 18px;
  }
}
