<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blackjack Game</title>
  <link rel="stylesheet" href="../styles/homepage.css">
  <link rel="icon" href="../cardClubsJ.png" type="image/png" />
</head>
<body>
   <header>
    <h1>Blackjack Game Tournament</h1>
    <nav>
      <ul>
        <li><a href="#play">Play Now</a></li>
        <li><a href="#how-to-play">How to Play</a></li>
        <li><a href="#prizes">Tournament Prizes</a></li>
      </ul>
      
      <button onclick="location.href = 'http://localhost:3000/views/login.html'" class="login-button">Login</button>
    </nav>
  </header>
  
  <main>
    <section id="play" class="game-section">
      <h2>Welcome to the Blackjack Game Tournament</h2>
      <p>Test your skills and compete for the championship!</p>
      <button onclick="location.href = 'http://localhost:3000/views/login.html'" class="login-button">Play Now</button>
    </section>
    
    <section id="how-to-play" class="instructions-section">
      <h2>How to Play</h2>
      <ol>
        <li>Each player is dealt two cards.</li>
        <li>The goal is to get a hand total as close to 21 as possible without exceeding it.</li>
        <li>Players can choose to "hit" (draw another card) or "stand" (keep the current hand).</li>
        <li>If the total goes over 21, it's a "bust" and the player loses.</li>
        <li>The player with the highest total not exceeding 21 wins.</li>
      </ol>
    </section>
    
    <section id="prizes" class="prizes-section">
      <h2>Tournament Prizes</h2>
      <ul>
        <li>1st Place: $10,000</li>
        <li>2nd Place: $5,000</li>
        <li>3rd Place: $2,500</li>
      </ul>
    </section>
  </main>
  
  <footer>
    <p>&copy; 2023 BlackJack Game Tournament. All rights reserved.</p>
  </footer>
</body>
</html>
